.chatroom {
  flex:.70;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  min-width: 60vw;
  overflow-y: auto;
}

.chatroom_header {
  display: flex;
   
    align-items: center;
    padding-top: 3px;
    padding-left: 15px;
    background-color:rgb(236, 233, 233);
    padding-bottom: 10px;
    border-bottom: 2px solid #b6b6b6;
}
.scroll_to_bottom{
  height: 1vh;

  visibility: hidden;
}
.chat_info{
  padding: 5px; 
  flex: 1;
}

.chat_info > p {
  font-size: 12px;
  color:grey;
}

.chatroom_header_inforight {
  display: flex;
  justify-content: space-between;
}

.chatroom_body {
    flex:1;

   
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    background-position: center;
    padding:30px;
    overflow: auto;
}

.chatroom_message {
position: relative;
font-size: 14px;
padding:10px;
color: rgb(65, 63, 63);
background-color: white;
width:fit-content;
border-radius: 10px;
margin-bottom: 30px;
}

.sender_name {
  position:absolute;
 top: -15px;
 color: black;
 font-size: xx-small;
 font-weight: 800;
}

.sender_timestamp {
  margin-left:10px;
    color: darkgray;
    font-size: xx-small;
    font-weight: 800;
}

.chatroom_messagerecierver {
  margin-left: auto;
   background-color: #dcf8c6;
}


.chatroom_footer {
  display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(241, 241, 241);
   height: 62px;
   border-top: 1px solid lightgrey;
}

.chatroom_footer > form {
  flex: 1;
  display: flex;
}

.chatroom_footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border:none;
  outline: none;
  color: grey;
}

.chatroom_footer > form > button {
  border: none;
  background-color: #00bfa5;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.chatroom_footer > form > input:focus {
  outline-width: 0;
}
.chatroom_footer > form > button:focus {
  outline-width: 0;
}

.chatroom_footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
