.login{
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  overflow: unset;
  
}

.login_container{
padding: 100px;
text-align: center;
background-color: rgb(231, 229, 229);
border-radius: 10px;
box-shadow: 0 1px 3px 1px rgba(0, 0, 0,.30) ;

}
.login_container > img{
  object-fit :contain;
   height: 300px; 
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.login_container >button {
margin-top:50px;
text-transform: inherit !important;
background-color: #0a8d48 !important;
color: white;

}